.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.sign-in-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signin-header {
  font-family: 'Comfortaa';
  font-weight: 700;
}

.submit-button {
  align-self: center;
  justify-self: end;
  font-family: 'Comfortaa';
  background-color: rgb(22, 152, 155);
  padding: 15px;
  border-radius: 20px;
  border: none;
  color: white;
}

.signin form button:hover, .signin form button:focus {
  background: rgb(234, 239, 240);
  color: #034958;
  outline: 0;
  transition: background-color 0.3s ease-out;
  transition: color 0.3s ease-out;

}

.redirect {
  text-decoration: none;
}