.outer-container {
  margin-top: 10%;
  color: black;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  border: none;
}

.title-header {
  font-family: 'Comfortaa';
  font-size: 2rem;
  color: black;
  margin-top: 13%;
  text-align: center;
}