.cart-drop-menu-container {
  position: absolute;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  top: 60px;
  right: 30px;
  z-index: 5;
  color: black;

  .empty-cart {
    font-size: 18px;
    margin: 50px auto;
    color: black;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    color: black;
  }

  button {
    margin-top: auto;
    width: 85%;
  }
}
